mixin nav(pageRoot)
	nav.primary-navigation(aria-label="Primary Navigation")
		.pn__container
			a.pn__logo(href="/")
				img(src=pageRoot + "/assets/img/company-logo.png", alt="Company")
			
			button#pn__nav-toggle.pn__nav-toggle
				span.pn__navicon
			
			ul.pn__nav-links
				li
					a.pn__nav-link(href="#") Link
				li
					a.pn__nav-link(href="#") Link
				li
					a.pn__nav-link(href="#") Link
				li
					a.pn__nav-link(href="#") Link