extends layout

block variables
	- var pageRoot = './'
	- var bodyClass = 'home'

block head
	title Homepage | Company
	meta(name="description" content="Homepage for Company") 

block content
	p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quam illa ardentis amores excitaret sui! Cur tandem? Quae sunt igitur communia vobis cum antiquis, iis sic utamur quasi concessis; Summae mihi videtur inscitiae. Duo Reges: constructio interrete. Te ipsum, dignissimum maioribus tuis, voluptasne induxit, ut adolescentulus eriperes P. Tum ille: Ain tandem? De malis autem et bonis ab iis animalibus, quae nondum depravata sint, ait optime iudicari.